body {
    font-family: 'Open Sans', 'PF DinText Pro', Arial, Helvetica, sans-serif;
    line-height: 1.71428571;
    font-size: 14px;
    background-color: #f3f6f5 !important;
    font-display: swap;
}

.container {
    max-width: 1000px !important;
}

nav li a {
    color: white !important;
}

.left li {
    margin: 0px 10px;
}

.text {
    background-color: rgba(0, 0, 0, 0.482);
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
}


/* imagegalary */

.img-galary img:hover {
    padding: 10px;
    transition: .5s;
}


/* sharehover */

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
    margin-left: -150px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.text-p{
    font-size: 24px;
    font-weight: 800;
    color: #009877;
}

/* .scrollbar-auto {
    scrollbar-color: auto;
    height: 100vh;
    overflow-y: scroll;
} */
.fixed {
    position: fixed;
    top: 50;
    right: 90px; /* Changed from left to right */
    padding: 10px;
    z-index: 2; /* This ensures the fixed div stays on top */
}

@media only screen and (max-width: 768px) {
    .fixed {
        position: static !important;
    }
  }